// text variables
$primary-font-family: 'Open Sans', 'Arial', sans-serif;
$secondary-font-family: 'Raleway', sans-serif;
// ==================================================================
// text colors
$primary-text-color: #555555;
$secondary-text-color: #303030;
$acent-text-color: #ff6c00;
$lite-text-color: #ffffff;
$darkest-text-color: #9da4bd;
$lite-bg-color: #f7f7f7;
$slider-before-color: rgba(157, 164, 189, 0.6);
// ==================================================================
// text size
$primary-fount-size: 12px;
$secondary-fount-size: 5;
// ==================================================================
// title size
$primary-title-size: 6;
$secondary-title-size: 7;
// ==================================================================
// letter-spacing
$primary-letter-spacing: 0.02em;
$secondary-letter-spacing: 9;
// ==================================================================
// background colors
$primary-Bg-color: 1;
$secondary-Bg-color: rgba(17, 19, 25, 0.8);
$acent-Bg-color: 2;
// ==================================================================
// thumb colors
$dark-thumb: #191c26;
$acent-thumb-color: #f7f7f7;
// ==================================================================
// animations
$primary-animation: cubic-bezier(0.4, 0, 0.2, 1);
$secondary-animation: cubic-bezier(0.4, 0, 0.2, 1);
