<section class="section">
  <div class="container container_row">
    <div class="about_pictures">
        <img 
                class="about_images"
                srcset="./images/best/img1-min.jpg "
                src="./images/best/img1-min.jpg" 
                alt="card-2"
 >
              <img 
                class="about_images"
                srcset="./images/best/img2-min.jpg "
                src="./images/best/img2-min.jpg"  
                alt="card-2"
 >
            </div>

    <div class="about_content">
      <span class="section_before_title dark-text">О НАС</span>
      <h2 class="section_title">Лучший Барбершоп твоего города</h2>
      <h3 class="section_subtitle">
        Если ты хочешь добавить в свой образ больше уверенности – тебе точно к нам.
      </h3>
      <p class="section_text">
        Мы команда, которая никогда не останавливается на достигнутом и жаждет перемен. И когда ты
        попадешь в руки нашего мастера, то уже никогда не сможешь быть прежним. Мы команда, которая
        всегда с клиентами "на одной волне". Поэтому, мы всегда готовы усовершенствовать каждого,
        кто к нам приходит!
      </p>
      <a class="link link-dark" href="#">онлайн-запись</a>
    </div>
        </div>
  </div>
</section>
