<div class="container container-form">
  <form class="form" action="#">
    <h2 class="section_title lite">Онлайн-запись</h2>
    <label for=""
      >Имя*
      <input type="text" />
    </label>
    <label for="">
      Телефон
      <input type="phone" />
    </label>
    <label for="">
      сообщение
      <input type="text" />
    </label>
    <button class="link" type="submit">отправить</button>
  </form>
  <div class="address">
    <h2 class="section_title lite">Контакты</h2>
    <address class="address_text address_map">ул. Васильковая, 7А Киев, 08132</address>
    <a class="address_text address_phone" href="#">+38 044 111 11 11</a>
    <a class="address_text address_mail" href="#">barbershop@email.com</a>
    <div>
      <span class="section_before_title white-text">время работы</span>
      <p class="address_text">Ежедневно с 9:00 до 22:00</p>
    </div>
  </div>
</div>
