<section class="section">
  <div class="container">
    <span class="section_before_title dark-text">На латинском языке “барба” означает “борода”</span>
    <div class="gallery">
      <div class="gallery_thumb">
        <picture class="gallery_img">
          <source
            srcset="./images/gallery/480px/25@2x.jpg 280w, ./images/gallery/480px/25@3x.jpg 560w"
            media="(max-width:767px)"
            sizes="(max-width:767px) 280px"
          />
          <source
            srcset="./images/gallery/720px/25@2x.jpg 340w, ./images/gallery/720px/25@3x.jpg 780w"
            media="(min-width:768px) and (max-width:1200px)"
            sizes="(min-width:768px) and (max-width:1200px) 340px, 100vw"
          />
          <source
            srcset="./images/gallery/1200px/25@1x.jpg 516w, ./images/gallery/1200px/25@2x.jpg 1032w"
            media="(min-width:1200px)"
            sizes="(min-width:1200px) 516px, 100vw"
          />
          <img src="./images/gallery/1200px/25@1x.jpg" alt="111" />
        </picture>
      </div>
      <div class="gallery_thumb">
        <picture class="gallery_img">
          <source
            srcset="./images/gallery/480px/26@2x.jpg 280w, ./images/gallery/480px/26@3x.jpg 560w"
            media="(max-width:767px)"
            sizes="(max-width:767px) 280px"
          />
          <source
            srcset="./images/gallery/720px/26@2x.jpg 340w, ./images/gallery/720px/26@3x.jpg 780w"
            media="(min-width:768px) and (max-width:1200px)"
            sizes="(min-width:768px) and (max-width:1200px) 340px, 100vw"
          />
          <source
            srcset="./images/gallery/1200px/26@1x.jpg 516w, ./images/gallery/1200px/26@2x.jpg 1032w"
            media="(min-width:1200px)"
            sizes="(min-width:1200px) 516px, 100vw"
          />
          <img src="./images/gallery/1200px/26@1x.jpg" alt="111" />
        </picture>
      </div>
      <div class="gallery_thumb">
        <picture class="gallery_img">
          <source
            srcset="./images/gallery/480px/27@2x.jpg 280w, ./images/gallery/480px/27@3x.jpg 560w"
            media="(max-width:767px)"
            sizes="(max-width:767px) 280px"
          />
          <source
            srcset="./images/gallery/720px/27@2x.jpg 340w, ./images/gallery/720px/27@3x.jpg 780w"
            media="(min-width:768px) and (max-width:1200px)"
            sizes="(min-width:768px) and (max-width:1200px) 340px, 100vw"
          />
          <source
            srcset="./images/gallery/1200px/27@1x.jpg 516w, ./images/gallery/1200px/27@2x.jpg 1032w"
            media="(min-width:1200px)"
            sizes="(min-width:1200px) 516px, 100vw"
          />
          <img src="./images/gallery/1200px/27@1x.jpg" alt="111" />
        </picture>
      </div>
      <div class="gallery_thumb">
        <picture class="gallery_img">
          <source
            srcset="./images/gallery/480px/28@2x.jpg 280w, ./images/gallery/480px/28@3x.jpg 560w"
            media="(max-width:767px)"
            sizes="(max-width:767px) 280px"
          />
          <source
            srcset="./images/gallery/720px/28@2x.jpg 340w, ./images/gallery/720px/28@3x.jpg 780w"
            media="(min-width:768px) and (max-width:1200px)"
            sizes="(min-width:768px) and (max-width:1200px) 340px, 100vw"
          />
          <source
            srcset="./images/gallery/1200px/28@1x.jpg 516w, ./images/gallery/1200px/28@2x.jpg 1032w"
            media="(min-width:1200px)"
            sizes="(min-width:1200px) 516px, 100vw"
          />
          <img src="./images/gallery/1200px/28@1x.jpg" alt="111" />
        </picture>
      </div>
    </div>
  </div>
</section>
