<section class="hero-slider">
  <div class="slider">
    <div class="slider__slide">
      <span class="section__suptitle section__suptitle-ligh">A hair salon for men in Kyiv</span>
      <h1 class="slider__header">BarberShop</h1>
      <p class="slider__text">
        Мы эксперты в модных мужских стрижках.Работаем быстро, осторожно и со вкусом.
      </p>
    </div>
    <div class="slide">
      <span class="section__suptitle section__suptitle-ligh">A hair salon for men in Kyiv</span>
      <h2 class="slider__title">BarberShop</h2>
      <p class="text">
        Мы эксперты в модных мужских стрижках.Работаем быстро, осторожно и со вкусом.
      </p>
    </div>
    <div class="slide">
      <span class="section__suptitle section__suptitle-light">A hair salon for men in Kyiv</span>
      <h2 class="slider__title">BarberShop</h2>
      <p class="slider__text">
        Мы эксперты в модных мужских стрижках.Работаем быстро, осторожно и со вкусом.
      </p>
    </div>
  </div>
</section>
