<div class="navbar">
  <svg class="navbar_logo" width="68px" height="55px">
    <use href="#"></use>
  </svg>
  <nav class="nav">
    <ul class="nav_list">
      <li class="nav_item">
        <a class="nav_link" href="#">О нас</a>
      </li>
      <li class="nav_item">
        <a class="nav_link" href="#">Услуги и цены</a>
      </li>
      <li class="nav_item">
        <a class="nav_link" href="#">Мастера</a>
      </li>
      <li class="nav_item">
        <a class="nav_link" href="#">Контакты</a>
      </li>
    </ul>
  </nav>
  <div class="contact">
    <a class="contact_tel" href="tel:+38-096-111-11-11">+38 044 111 11 11</a>
    <a class="link" href="#">онлайн-запись</a>
  </div>
</div>
