<div class="nav-bar container">
  <svg class="nav-bar_svg">
    <use xlink:href="./images/svg/svg-sprite.svg#icon-logo"></use>
  </svg>
  <nav class="navigation">
    <ul class="navigation_list">
      <li class="navigation_item"><a class="navigation_link" href="#"> О нас</a></li>
      <li class="navigation_item"><a class="navigation_link" href="#">Услуги и цены</a></li>
      <li class="navigation_item"><a class="navigation_link" href="#">Мастера</a></li>
      <li class="navigation_item"><a class="navigation_link" href="#">Контакты</a></li>
    </ul>
  </nav>
  <div class="contacts">
    <a class="contacts_phone" href="#">+38 044 111 11 11</a>
    <a class="link" href="#">онлайн-запись</a>
  </div>
</div>
