<section class="section section_bg-img" id="price">
  <div class="container">
    <span class="section_before_title">Проведи время в компании лучших мастеров</span>
    <h2 class="section_title lite">Услуги и цены</h2>
    <div class="price">
      <ul class="price_list">
        <li class="price_item">
          <p class="price_name">Мужская стрижка</p>
          <span class="price_cost">от 300 грн.</span>
        </li>
        <li class="price_item">
          <p class="price_name">Стрижка бороды</p>
          <span class="price_cost">от 200 грн.</span>
        </li>
        <li class="price_item">
          <p class="price_name">Стрижка усов</p>
          <span class="price_cost">от 200 грн.</span>
        </li>
        <li class="price_item">
          <p class="price_name">Бритье опасной бритвой</p>
          <span class="price_cost">от 200 грн.</span>
        </li>
      </ul>
      <ul class="price_list list-right">
        <li class="price_item">
          <p class="price_name">Cтрижка у стажера</p>
          <span class="price_cost">от 50 грн.</span>
        </li>
        <li class="price_item">
          <p class="price_name">Стрижка под насадку</p>
          <span class="price_cost">от 200 грн.</span>
        </li>
        <li class="price_item">
          <p class="price_name">Детская стрижка (до 12 лет)</p>
          <span class="price_cost">от 300 грн.</span>
        </li>
        <li class="price_item">
          <p class="price_name">Камуфлирование седины</p>
          <span class="price_cost">от 200 грн.</span>
        </li>
      </ul>
    </div>
    <div class="link-centred">
      <a class="link" href="#form">онлайн-запись</a>
    </div>
  </div>
</section>
