<section class="section section__bg-img" id="section-prise">
  <!-- container -->
  <div class="container">
    <span class="section__suptitle section__suptitle-ligh"
      >Проведи время в компании лучших мастеров</span
    >
    <h2 class="section__title section__title-light">Услуги и цены</h2>
    <div class="prise">
      <ul class="prise__list">
        <li class="prise__item">
          <p class="prise__title">Мужская стрижка</p>
          <span class="prise__text">от 300 грн</span>
        </li>
        <li class="prise__item">
          <p class="prise__title">Стрижка бороды</p>
          <span class="prise__text">от 200 грн</span>
        </li>
        <li class="prise__item">
          <p class="prise__title">Стрижка усов</p>
          <span class="prise__text">от 200 грн</span>
        </li>
        <li class="prise__item">
          <p class="prise__title">Бритье опасной бритвой</p>
          <span class="prise__text">от 200 грн</span>
        </li>
      </ul>
      <ul class="prise__list">
        <li class="prise__item">
          <p class="prise__title">Cтрижка у стажера</p>
          <span class="prise__text">от 50 грн</span>
        </li>
        <li class="prise__item">
          <p class="prise__title">Стрижка под насадку</p>
          <span class="prise__text">от 200 грн</span>
        </li>
        <li class="prise__item">
          <p class="prise__title">Детская стрижка (до 12 лет)</p>
          <span class="prise__text">от 300 грн</span>
        </li>
        <li class="prise__item">
          <p class="prise__title">Камуфлирование седины</p>
          <span class="prise__text">от 200 грн</span>
        </li>
      </ul>
    </div>
    <a class="link" href="#">онлайн-запись</a>
  </div>
</section>
