<div class="slider">
  <div class="slide">
    <span class="section_before_title">A hair salon for men in Kyiv</span>
    <h1 class="section_main_title">BarberShop</h1>
    <h4 class="section_subtitle subtitle-hero">
      Мы эксперты в модных мужских стрижках. <br />
      Работаем быстро, осторожно и со вкусом.
    </h4>
  </div>
  <!-- <div class="slide">
    <span>A hair salon for men in Kyiv</span>
    <h2>BarberShop</h2>
    <h4>Мы эксперты в модных мужских стрижках. Работаем быстро, осторожно и со вкусом.</h4>
  </div>
  <div class="slide">
    <span>A hair salon for men in Kyiv</span>
    <h2>BarberShop</h2>
    <h4>Мы эксперты в модных мужских стрижках. Работаем быстро, осторожно и со вкусом.</h4>
  </div> -->
</div>
