<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">
      <picture class="about_images">
        <source
          srcset="./images/slider/480px/img1@2x.jpg 280w, ./images/slider/480px/img1@3x.jpg 560w"
          media="(max-width:767px)"
          sizes="(max-width:767px) 280px"
        />
        <source
          srcset="./images/slider/720px/img1@2x.jpg 340w, ./images/slider/720px/img1@3x.jpg 780w"
          media="(min-width:768px) and (max-width:1200px)"
          sizes="(min-width:768px) and (max-width:1200px) 340px, 100vw"
        />
        <source
          srcset="./images/slider/1200px/img1@1x.jpg 516w, ./images/slider/1200px/img1@2x.jpg 1032w"
          media="(min-width:1200px)"
          sizes="(min-width:1200px) 516px, 100vw"
        />
        <img src="./images/slider/1200px/img1@1x.jpg" alt="111" />
      </picture>
      <div class="swiper-slide-text-box">
        <span class="section_before_title">A hair salon for men in Kyiv</span>
        <h1 class="section_main_title">BarberShop</h1>
        <h4 class="section_subtitle subtitle-hero">
          Мы эксперты в модных мужских стрижках. <br />
          Работаем быстро, осторожно и со вкусом.
        </h4>
      </div>
    </div>
    <div class="swiper-slide">
      <picture class="about_images">
        <source
          srcset="./images/slider/480px/img2@2x.jpg 280w, ./images/slider/480px/img2@3x.jpg 560w"
          media="(max-width:767px)"
          sizes="(max-width:767px) 280px"
        />
        <source
          srcset="./images/slider/720px/img2@2x.jpg 340w, ./images/slider/720px/img2@3x.jpg 780w"
          media="(min-width:768px) and (max-width:1200px)"
          sizes="(min-width:768px) and (max-width:1200px) 340px, 100vw"
        />
        <source
          srcset="./images/slider/1200px/img2@1x.jpg 516w, ./images/slider/1200px/img2@2x.jpg 1032w"
          media="(min-width:1200px)"
          sizes="(min-width:1200px) 516px, 100vw"
        />
        <img src="./images/slider/1200px/img2@1x.jpg" alt="111" />
      </picture>
      <div class="swiper-slide-text-box">
        <span class="section_before_title">A hair salon for men in Kyiv</span>
        <h2 class="section_main_title">BarberShop</h2>
        <h4 class="section_subtitle subtitle-hero">
          Мы эксперты в модных мужских стрижках. <br />
          Работаем быстро, осторожно и со вкусом.
        </h4>
      </div>
    </div>
    <div class="swiper-slide">
      <picture class="about_images">
        <source
          srcset="./images/slider/480px/img3@2x.jpg 280w, ./images/slider/480px/img3@3x.jpg 560w"
          media="(max-width:767px)"
          sizes="(max-width:767px) 280px"
        />
        <source
          srcset="./images/slider/720px/img3@2x.jpg 340w, ./images/slider/720px/img3@3x.jpg 780w"
          media="(min-width:768px) and (max-width:1200px)"
          sizes="(min-width:768px) and (max-width:1200px) 340px, 100vw"
        />
        <source
          srcset="./images/slider/1200px/img3@1x.jpg 516w, ./images/slider/1200px/img3@2x.jpg 1032w"
          media="(min-width:1200px)"
          sizes="(min-width:1200px) 516px, 100vw"
        />
        <img src="./images/slider/1200px/img3@1x.jpg" alt="111" />
      </picture>
      <div class="swiper-slide-text-box">
        <span class="section_before_title">A hair salon for men in Kyiv</span>
        <h2 class="section_main_title">BarberShop</h2>
        <h4 class="section_subtitle subtitle-hero">
          Мы эксперты в модных мужских стрижках. <br />
          Работаем быстро, осторожно и со вкусом.
        </h4>
      </div>
    </div>
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>
  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev">
    <p>Вперед</p>
  </div>
  <div class="swiper-button-next">
    <p>Назад</p>
  </div>
</div>
