<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">
      <img class="swiper-slide-img" src="./images/bg/slider1.jpg" alt="" />
      <div class="swiper-slide-text-box">
        <span class="section_before_title">A hair salon for men in Kyiv</span>
        <h1 class="section_main_title">BarberShop</h1>
        <h4 class="section_subtitle subtitle-hero">
          Мы эксперты в модных мужских стрижках. <br />
          Работаем быстро, осторожно и со вкусом.
        </h4>
      </div>
    </div>
    <div class="swiper-slide">
      <img class="swiper-slide-img" src="./images/bg/slider2.jpg" alt="" />
      <div class="swiper-slide-text-box">
        <span class="section_before_title">A hair salon for men in Kyiv</span>
        <h2 class="section_main_title">BarberShop</h2>
        <h4 class="section_subtitle subtitle-hero">
          Мы эксперты в модных мужских стрижках. <br />
          Работаем быстро, осторожно и со вкусом.
        </h4>
      </div>
    </div>
    <div class="swiper-slide">
      <img class="swiper-slide-img" src="./images/bg/slider3.jpg" alt="" />
      <div class="swiper-slide-text-box">
        <span class="section_before_title">A hair salon for men in Kyiv</span>
        <h2 class="section_main_title">BarberShop</h2>
        <h4 class="section_subtitle subtitle-hero">
          Мы эксперты в модных мужских стрижках. <br />
          Работаем быстро, осторожно и со вкусом.
        </h4>
      </div>
    </div>
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>
  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev">
    <p>Вперед</p>
  </div>
  <div class="swiper-button-next">
    <p>Назад</p>
  </div>
  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div>
