<section class="section section_bg-color" id="team">
  <div class="container">
    <span class="section_before_title dark-text">для настоящих ценителей атмосферы</span>
    <h2 class="section_title">Наши мастера</h2>
    <ul class="team">
      <li class="team_item">
        <div class="specialist">
          <img
            srcset="
              ./images/specialist/specialist-1.jpg    1x,
              ./images/specialist/specialist-1@2x.jpg 2x,
              ./images/specialist/specialist-1@3x.jpg 3x
            "
            src="./images/specialist/specialist-1.jpg"
            alt="specialist-1"
            class="specialist_img"
          />
          <p class="specialist_name">John Smith</p>
          <p class="specialist_text">Extreme Barber</p>
          <ul class="social">
            <li class="social__item">
              <a class="social__link" href="#">
                <svg class="social__icon" width="20px" height="20px">
                  <use xlink:href="./images/svg/svg-sprite.svg#icon-inst"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link" href="#">
                <svg class="social__icon" width="20px" height="20px">
                  <use xlink:href="./images/svg/svg-sprite.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link" href="#">
                <svg class="social__icon" width="20px" height="20px">
                  <use xlink:href="./images/svg/svg-sprite.svg#icon-fb"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link" href="#">
                <svg class="social__icon" width="20px" height="20px">
                  <use xlink:href="./images/svg/svg-sprite.svg#icon-link"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team_item">
        <div class="specialist">
          <img
            srcset="
              ./images/specialist/specialist-2.jpg    1x,
              ./images/specialist/specialist-2@2x.jpg 2x,
              ./images/specialist/specialist-2@3x.jpg 3x
            "
            src="./images/specialist/specialist-1.jpg"
            alt="specialist-1"
            class="specialist_img"
          />
          <p class="specialist_name">John Smith</p>
          <p class="specialist_text">Extreme Barber</p>
          <ul class="social">
            <li class="social__item">
              <a class="social__link" href="#">
                <svg class="social__icon" width="20px" height="20px">
                  <use xlink:href="./images/svg/svg-sprite.svg#icon-inst"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link" href="#">
                <svg class="social__icon" width="20px" height="20px">
                  <use xlink:href="./images/svg/svg-sprite.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link" href="#">
                <svg class="social__icon" width="20px" height="20px">
                  <use xlink:href="./images/svg/svg-sprite.svg#icon-fb"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link" href="#">
                <svg class="social__icon" width="20px" height="20px">
                  <use xlink:href="./images/svg/svg-sprite.svg#icon-link"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team_item">
        <div class="specialist">
          <img
            srcset="
              ./images/specialist/specialist-3.jpg    1x,
              ./images/specialist/specialist-3@2x.jpg 2x,
              ./images/specialist/specialist-3@3x.jpg 3x
            "
            src="./images/specialist/specialist-1.jpg"
            alt="specialist-1"
            class="specialist_img"
          />

          <p class="specialist_name">John Smith</p>
          <p class="specialist_text">Extreme Barber</p>
          <ul class="social">
            <li class="social__item">
              <a class="social__link" href="#">
                <svg class="social__icon" width="20px" height="20px">
                  <use xlink:href="./images/svg/svg-sprite.svg#icon-inst"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link" href="#">
                <svg class="social__icon" width="20px" height="20px">
                  <use xlink:href="./images/svg/svg-sprite.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link" href="#">
                <svg class="social__icon" width="20px" height="20px">
                  <use xlink:href="./images/svg/svg-sprite.svg#icon-fb"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link" href="#">
                <svg class="social__icon" width="20px" height="20px">
                  <use xlink:href="./images/svg/svg-sprite.svg#icon-link"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
