<section class="section">
  <div class="container container_row-why">
    <div class="why_content">
      <span class="section_before_title dark-text">старая традиционная школа</span>
      <h2 class="section_title">
        Почему приходят <br />
        именно к нам?
      </h2>
      <h3 class="section_subtitle">
        О нас говорят только хорошее. Но лучше 1 раз <br />
        увидеть и прочувствовать, чем 10 раз прочитать.
      </h3>
    </div>
    <div class="why">
      <div class="why_box">
        <p class="why_num">600</p>
        <p class="why_text">Довольных клиентов в день</p>
      </div>
      <div class="why_box">
        <p class="why_num">50</p>
        <p class="why_text">Наград за отличный сервис</p>
      </div>
      <div class="why_box">
        <p class="why_num">20</p>
        <p class="why_text">Лучших мастеров Киева</p>
      </div>
      <div class="why_box">
        <p class="why_num">100</p>
        <p class="why_text">Подарков постоянным клиентам</p>
      </div>
    </div>
  </div>
</section>
