.side-bar {
  @media (max-width: 768px) {
    display: none;
  }
  position: relative;
  width: 155px;
  height: 100vh;
  max-height: 680px;
  display: flex;

  &_box {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 165px;
    left: -56px;
    transform: rotate(-90deg);
  }
  &_box::before {
    content: '';
    margin-right: 40px;
    width: 60px;
    border-bottom: solid 1px $secondary-text-color;
  }
  &_link {
    color: $secondary-text-color;
    text-decoration: none;
    margin-right: 40px;
    font-size: 11px;
  }
  &_link:last-child {
    margin-right: 0;
  }
  &_link:hover,
  &_link:focus {
    color: $acent-text-color;
    transition: color 250ms $primary-animation;
  }
}
