.header {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: grey;
}
.navbar {
  display: flex;
  align-items: center;
  margin: 0 auto;
  //   padding: 40px 55px;
  &_logo {
    background-color: #fff;
    margin-right: 70px;
  }
}
.nav {
  &_list {
    display: flex;
  }
  &_item {
    margin-right: 40px;
    display: block;
  }
  &_item:last-child {
    margin-right: 0;
  }
  &_link {
    color: white;
    text-decoration: none;
  }
}
.contact {
  margin-left: auto;
  &_tel {
    color: white;
    text-decoration: none;
  }
}
