.navigation {
  &_list {
    display: flex;
  }
  &_item {
    display: block;
    @media (min-width: 480px) {
    }

    @media (min-width: 768px) {
      margin-right: 24px;
    }

    @media (min-width: 1200px) {
      margin-right: 40px;
    }
  }
  &_item:last-child {
    margin-right: 0;
  }

  &_link {
    text-decoration: none;
    color: $lite-text-color;
  }
  &_link:hover,
  &_link:focus {
    color: $acent-text-color;
    transition: color 250ms $primary-animation;
  }
}
