.price {
  display: block;
  margin: 44px 0 50px 0;

  @media (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
  }
  &_list {
    flex-grow: 1;
    padding: 30px;
    background: linear-gradient(180deg, #171a24 0%, #171a24 100%);
    @media (min-width: 1200px) {
      background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
      display: block;
    }
  }

  &_list.list-right {
    padding: 0 30px 30px 30px;
    background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
    @media (min-width: 768px) {
      padding: 0 40px 30px 40px;
    }

    @media (min-width: 1200px) {
      padding: 30px 40px;
      background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
    }
  }
  &_item {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
  }
  &_item:first-child {
    padding-top: 0;
  }
  &_name {
    display: block;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    color: $darkest-text-color;
    @media (min-width: 768px) {
      font-size: 18px;
    }
  }
  &_cost {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    color: $darkest-text-color;
    @media (min-width: 768px) {
      font-size: 18px;
    }
  }
}
