.specialist {
  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &_img {
    height: 100%;
  }
  &_name {
    margin-top: 30px;
    font-size: 18px;
    line-height: 1.2;
    color: $secondary-text-color;
    text-align: center;
  }
  &_text {
    margin-top: 8px;
    font-size: 14px;
    line-height: 1.3;
    text-align: center;
    color: $acent-text-color;
  }
}
