.why {
  display: flex;
  flex-wrap: wrap;
  @media (min-width: 768px) {
    justify-content: flex-end;
    margin: -30px 0 0 0;
  }

  &_box {
    padding: 20px 20px;
    margin: 30px 0 0 30px;
    background-color: $lite-bg-color;
    width: calc((100% - (30px * 2)) / 2);
    min-width: 150px;
    height: 133px;

    @media (min-width: 768px) {
      width: 210px;
    }
    @media (min-width: 1200px) {
      width: 170px;
    }
  }
  &_box:nth-child(3) {
    margin: 0 0 0 30px;
  }
  &_box:nth-child(2) {
    margin: 60px 0 0 30px;
  }
  &_num {
    position: relative;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.05em;
    color: $secondary-text-color;
  }
  &_num::after {
    position: absolute;
    top: 9px;
    right: 16px;
    display: block;
    content: ' ';
    background-image: url('../images/svg/+.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 13px 13px;
    height: 13px;
    width: 13px;
  }
  &_text {
    font-weight: 600;
    font-size: 10px;
    line-height: 1.2;
    text-align: center;
    color: $secondary-text-color;
  }
  &_content {
    @media (min-width: 768px) {
      flex-wrap: wrap;
      width: 100%;
      margin-bottom: 44px;
    }
    @media (min-width: 1200px) {
      margin-left: 130px;
      flex-grow: 1;
      margin-bottom: 0;
    }
  }
}
